* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.colors {
  --color-primary: #9cadce;
  --color-secondary: #808080;
  --background: #ffffff;
  --gradient-primary: rgb(110, 100, 255);
  --gradient-secondary: rgb(247, 184, 255);
}

h1,
#hours,
#minutes,
#seconds {
  font-family: Inter;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  color: var(--color-primary);
}

p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: var(--color-secondary);
}

main {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    30deg,
    var(--gradient-primary),
    var(--gradient-secondary)
  );

  display: flex;
  justify-content: center;
  align-items: end;
}

.wrapper {
  width: 1500px;
  height: 800px;
  border-radius: 20px 20px 0px 0px;

  background: var(--background);
  background-image: url(../assets/Shapes.svg);

  display: flex;
  justify-content: center;
  align-items: center;
}

.clock__container {
  width: 400px;
  height: 450px;
  background-image: url(../assets/Shapes.svg);

  border: 1px solid var(--color-primary);
  box-shadow: 0px 0px 12px 5px var(--color-primary);
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.clock__date {
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

span {
  display: flex;
  gap: 12px;
}

.date {
  gap: 8px;
}
